.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 16px;
}

.card-product img {
  height: 95px;
  width: 95px;
  object-fit: cover;
  border-radius: 8px;
  margin-left: 16px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
}

.card-product .card-product-infos {
  padding: 16px;
}

.dash-cont {
  margin-top: 25px;

}

.dash-animal {
  width: 45%;
}

.dash-bookings {
  width: 45%;
}

.animal-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn-accept {
  margin-left: 15px;
  border-radius: 8px;
  background-color: #019E89;
  color: white;
  opacity: 0.8;
  width: 40px;
  height: 40px;
  i {
    margin: auto;
  };
}

.btn-reject {
  margin-left: 5px;
  border-radius: 8px;
  width: 40px;
  background-color: white;
  color: #e6b686;
  border: #e6b686 solid 1px;
  width: 40px;
  height: 40px;
  i {
    margin: auto;
  };
}

.btn-accept:hover {
  opacity: 1;
  color: white;
}

.btn-reject:hover {
  background-color: #e6b686;
  color: white;

}
