.form-container {
  width: 60%;
  margin: 0px auto;
  border: #FFBF2E solid 1px;
  border-radius: 24px;
  background-color: #F9F7ED;
  padding: 25px 25px;
}

.center {
  text-align: center;
  margin-top: 40px;
}
