<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="https://fr-fr.facebook.com"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
    <a href="https://fr.linkedin.com"><i class="fab fa-linkedin"></i></a>
    Copyright @ 2022 Exotica
  </div>
  <div class="footer-copyright">
    Exotica <i class="fas fa-heart"></i>
  </div>
</div>
