<div class="container">
<h2>This is the home page</h2>
<% if user_signed_in? %>
  <% @animals.each do |animal| %>
  <br><%= link_to animal.name, animal_path(animal) %> <br>
  <% end %>
<% else %>
  <%= link_to "Sign in", new_user_session_path, class: 'btn btn-primary' %> <br>
  <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-info' %><br>
<% end %>
</div>
