img{
  width: 32px;
  height: 32px;
}
ul{
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
li a{
  text-decoration: none;
}
/* 방문하지 않은 링크 */
li a:link{
  color: black;
}
/* 방문한 링크 */
li a:visited{
  color: black;
}
/* 링크를 활성화 할 때 */
li a:active{
  color: black;
}
li{
  padding: 16px;
}
li:first-child{
  margin-right: auto;
}
li:not(:first-child) a:hover{
  border-bottom: 2px solid black;
}
