
h1 {
  font-weight: bolder;
  margin: 0px;
  font-size: 40px;
}

.navbar-transparent {
  background-color: transparent;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0));
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  z-index: 1000;
}

.navbar-exotica {
  background-color: #F0DFCE;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-exotica-logout {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-title {
  display: flex;
  align-items: center;
}

.Exotica-title {
  padding: 15px;
  text-align: center;
}

.Exotica-logo {
  padding: 5px;
  margin: 10px;
}

.controls {
  margin-right: 30px;
  display: flex;
  align-items: center;

}

#navbarDropdown {
  margin-left: 30px;
  height: 50px;
  width: 50px;
}

.btn-add {
  background-color: #F0DFCE;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 8px;
  margin-right: 8px;
  color: #FFFFFF;
  background-color: #019E89;
  border: #019E89 solid 2px;
  font-weight: bolder;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.01);
  opacity: 1;
}

.btn-dashboard {
  background-color: #F0DFCE;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 8px;
  margin-right: 8px;
  background-color: #FFBF2E;
  border: #FFBF2E solid 1px;
  color: #000000;
  font-weight: bolder;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.01);
  opacity: 1;
}

.btn-out {
  background-color: #F0DFCE;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 8px;
  margin-right: 8px;
  background-color: #F0DFCE;
  color: #000000;
  font-weight: bolder;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.01);
  border: #FFBF2E solid 1px;
  box-sizing: border-box;
}

.btn-add:hover {
  color: #019E89;
  background-color: #FFFFFF;
}

.btn-dashboard:hover {
  opacity: 1;
  color: white;
}

.btn-out:hover {
  color: white;
  background-color: #000000;
  border: none;

}

.dropdown-menu {
  border-radius: 4px;
  padding: 10px;

}

a {
  text-decoration: none;
  text-transform: none;
  text-align: center;
  color: black;
}

.border-b {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}
